* {
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans';
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h2 {
  margin: 15px 0;
}

img {
  border-radius: 10px;
}

ul,
p {
  padding: 0 15px;
}

li {
  list-style: none;
  margin: 5px;
}

li>p,
.bio>p {
  padding: 15px;
}

.subtitle{
  padding: 0;
  margin-bottom: 25px;
  font-size: 1.4rem;
}

.profile-info {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding: 0 40px;
}

.social-media {
  padding: 0;
}

.social-media>a{
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.x-icon {
  width: 40%;
  height: 40%;
  opacity: 0.04;
  background-image: url('./onx-blackx.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 0;
  bottom: 0;
}

.container {
  display: block;
}

.bio {
  margin: 30px 0;
}

.item {
  display: inline-block;
}

.footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid;
}
